@import "null";

main {
	background-color: deepskyblue;

	@media (min-width: 480px) {
		min-height: 100vh;
		min-height: 100svh;
		// можна зробити щоб секція була по центру екрану(якщо розширення більше по висоті

		display: flex;
		align-items: center;
		justify-content: center;

		/*

		*/

		// якщо буде декілька вкладених секцій
		/*
		flex-direction: column;
		gap: 30px;
		*/
	}
}

section {
	background-color: violet;

	@media (min-width: 480px) {
		width: 100%;
		height: 100%;
		aspect-ratio: 1920 / 1080;
		padding: 50px;

		//  дає змогу розтягуватись на всю доступну висоту екрану
		/* 
		min-height: 100vh;
		min-height: 100svh;*/
	}

	@media (max-width: 480px) {
		/*  дає змогу розтягуватись на всю доступну висоту екрану
		min-height: 100vh;
		min-height: 100svh;*/
		width: 100%;
	}
}

div {
	/* пропорція вкладеного елементу
	aspect-ratio: 1800 / 960;*/

	// background-color: purple;
	background: purple url(../img/main-bg.jpg) center / cover no-repeat;

	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;

	@media (max-width: 480px) {
		min-height: 100vh;
		min-height: 100svh;
		width: 100%;
	}
}

h1 {
	font-size: 54px;
	color: white;
}
