@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,300italic,600italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Oswald:700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 393px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Montserrat;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img,
svg {
  vertical-align: top;
  max-width: 100%
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #080707;
  line-height: 1.2
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 25rem;
  margin-inline: auto
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 24.5625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
@-webkit-keyframes discount-rotating {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
@keyframes discount-rotating {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
.discount {
  position: relative;
  z-index: 10;
  width: 8.8125rem;
  height: 8.8125rem
}
.discount__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-animation: discount-rotating 10s linear infinite;
  animation: discount-rotating 10s linear infinite
}
.discount__content {
  padding: 1.25rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  height: 100%
}
.button {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  text-shadow: 0 .25rem .3125rem rgba(0,0,0,.5);
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  border-radius: 1.25rem;
  border: .0625rem solid rgba(255,255,255,.6);
  background: linear-gradient(180deg,#ff7ebd 0,#e02f85 100%);
  box-shadow: 0 0 0 .4375rem rgba(255,255,255,.05);
  transition: box-shadow .5s ease;
  width: 100%;
  display: grid;
  place-items: center;
  min-height: 4rem;
  flex-shrink: 0
}
.main-title,
.title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  text-transform: uppercase
}
.title {
  font-size: 1.9375rem
}
.title--black {
  color: #080707
}
.main-title {
  font-size: 2.5rem
}
.main-title--black {
  color: #080707
}
.content-header {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.25rem
}
.content-header:not(:last-child) {
  margin-bottom: 1.25rem
}
.content-header__discount {
  margin-top: -4.8125rem
}
[data-watch] {
  opacity: 0;
  transition: opacity .5s ease,-webkit-transform .5s ease;
  transition: opacity .5s ease,transform .5s ease;
  transition: opacity .5s ease,transform .5s ease,-webkit-transform .5s ease
}
[data-watch].show-bottom {
  -webkit-transform: translateY(6.25rem);
  transform: translateY(6.25rem)
}
[data-watch].show-left {
  -webkit-transform: translateX(6.25rem);
  transform: translateX(6.25rem)
}
[data-watch].show-right {
  -webkit-transform: translateX(-6.25rem);
  transform: translateX(-6.25rem)
}
[data-watch].show-scale {
  -webkit-transform: scale(.7);
  transform: scale(.7)
}
[data-watch].delay-1 {
  transition-delay: .2s
}
[data-watch].delay-2 {
  transition-delay: .4s
}
[data-watch].delay-3 {
  transition-delay: .6s
}
[data-watch].delay-4 {
  transition-delay: .8s
}
[data-watch].delay-5 {
  transition-delay: 1s
}
[data-watch].delay-6 {
  transition-delay: 1.2s
}
[data-watch].delay-7 {
  transition-delay: 1.4s
}
[data-watch]._watcher-view {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
.footer {
  position: relative;
  z-index: -1;
  background-color: #441d2e;
  padding: .75rem
}
.footer__container {
  text-align: center
}
.footer__decoration {
  position: absolute;
  width: 5.0625rem;
  height: 5.875rem;
  right: 0;
  bottom: 0
}
.hero {
  padding-top: 3.4375rem;
  padding-bottom: 3.125rem;
  position: relative
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  background: url(../img/hero/decoration.webp) 0 0/cover no-repeat;
  z-index: -1
}
.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg,rgba(255,255,255,0) 0,#000 100%);
  z-index: 1
}
.hero__content {
  text-align: center;
  position: relative
}
.hero__label {
  letter-spacing: .0875rem;
  text-transform: uppercase
}
.hero__title {
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: rgba(255,255,255,.1);
  font-family: Oswald;
  font-size: 6.5rem;
  font-weight: 700;
  line-height: .9;
  text-transform: uppercase;
  background: radial-gradient(170% 50% at 50% 50%,#fff 0,rgba(153,153,153,0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.hero__title:not(:last-child) {
  margin-bottom: .25rem
}
.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .15rem;
  text-transform: uppercase
}
.hero__image {
  margin-top: -2.3125rem;
  margin-bottom: -4.0625rem;
  position: relative
}
.hero__subtitle,
.hero__text,
.hero__title {
  position: relative;
  z-index: 2
}
.hero__discount {
  position: absolute;
  right: -1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.hero__text {
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: .0875rem
}
.hero__text:not(:last-child) {
  margin-bottom: 1rem
}
.hero__action {
  position: relative;
  z-index: 2
}
.hero__bg,
.hero__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.hero__bg img {
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover
}
.suitable {
  position: relative;
  z-index: 1
}
.suitable__intro {
  margin-bottom: -1.25rem
}
.suitable__content {
  border-radius: 1.875rem;
  background-color: #ffedf5;
  padding: 2.3125rem .9375rem .9375rem;
  position: relative;
  z-index: 1
}
.suitable__image {
  position: absolute;
  width: 60%;
  height: 50%;
  top: 0;
  right: 0;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top right;
  object-position: top right;
  z-index: -1
}
.suitable__title:not(:last-child) {
  margin-bottom: .625rem
}
.suitable__list {
  display: grid;
  gap: .375rem
}
.suitable__list:not(:last-child) {
  margin-bottom: 1.25rem
}
.suitable__list>:nth-child(1) {
  max-width: 100%
}
.suitable__list>:nth-child(1)._watcher-view {
  -webkit-transform: rotate(-.489deg);
  transform: rotate(-.489deg)
}
.suitable__list>:nth-child(2) {
  max-width: 90%
}
.suitable__list>:nth-child(2)._watcher-view {
  -webkit-transform: rotate(.6deg);
  transform: rotate(.6deg)
}
.suitable__list>:nth-child(3) {
  max-width: 65%
}
.suitable__list>:nth-child(3)._watcher-view {
  -webkit-transform: rotate(-.591deg);
  transform: rotate(-.591deg)
}
.suitable__list>:nth-child(3),
.suitable__list>:nth-child(4) {
  max-width: 65%
}
.suitable__list>:nth-child(3)._watcher-view,
.suitable__list>:nth-child(4)._watcher-view {
  -webkit-transform: rotate(1.013deg);
  transform: rotate(1.013deg)
}
.suitable__list>:nth-child(5) {
  max-width: 80%
}
.suitable__list>:nth-child(5)._watcher-view {
  -webkit-transform: rotate(1.811deg);
  transform: rotate(1.811deg)
}
.suitable__list>:nth-child(6) {
  max-width: 90%;
  margin-top: .375rem;
  margin-bottom: .375rem
}
.suitable__list>:nth-child(6)._watcher-view {
  -webkit-transform: rotate(-1.753deg);
  transform: rotate(-1.753deg)
}
.suitable__list>:nth-child(7) {
  max-width: 90%
}
.suitable__list>:nth-child(7)._watcher-view {
  -webkit-transform: rotate(-.31deg);
  transform: rotate(-.31deg)
}
.suitable__list .advantages-item {
  margin-inline: auto;
  font-size: .875rem;
  font-weight: 300;
  text-align: center
}
.intro-suitable {
  position: relative;
  z-index: 2
}
.intro-suitable__list {
  display: flex;
  flex-direction: column
}
.intro-suitable__item {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  display: grid;
  place-items: center;
  text-align: center;
  border: .0625rem solid rgba(255,255,255,.4)
}
.intro-suitable__item .intro-suitable__decor {
  position: absolute
}
.intro-suitable__item:nth-child(1) {
  width: 8.5rem;
  height: 8.5rem;
  padding: 1%;
  background: linear-gradient(280deg,rgba(226,94,158,0) 0,rgba(226,94,158,.4) 100%);
  align-self: flex-end;
  margin-top: -4.0625rem
}
.intro-suitable__item:nth-child(1) .intro-suitable__decor {
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.intro-suitable__item:nth-child(2) {
  width: 10.875rem;
  height: 10.875rem;
  padding: 5%;
  background: linear-gradient(210deg,rgba(226,94,158,0) 0,rgba(226,94,158,.4) 100%);
  margin-left: 1.125rem;
  margin-top: -3.125rem
}
.intro-suitable__item:nth-child(2) .intro-suitable__decor {
  top: 50%;
  right: 0;
  width: 3.875rem;
  height: 3.875rem;
  -webkit-transform: translate(120%,-50%) rotate(-40deg);
  transform: translate(120%,-50%) rotate(-40deg)
}
.intro-suitable__item:nth-child(3) {
  width: 16.625rem;
  height: 16.625rem;
  padding: 3%;
  align-self: flex-end;
  background: linear-gradient(150deg,rgba(226,94,158,0) 0,rgba(226,94,158,.4) 100%);
  margin-right: -1.875rem;
  margin-top: -2.5rem
}
.intro-suitable__item:nth-child(3) .intro-suitable__decor {
  top: 23%;
  left: -15%;
  width: 1.625rem;
  height: 1.625rem
}
.intro-suitable__content {
  font-size: .9375rem;
  letter-spacing: .09375rem
}
.intro-suitable__bg {
  position: absolute;
  width: 17.5rem;
  height: 17.5rem;
  bottom: -3.75rem;
  z-index: 1;
  left: 0;
  -o-object-position: left bottom;
  object-position: left bottom;
  -o-object-fit: contain;
  object-fit: contain
}
.program {
  padding-top: 1.625rem;
  padding-bottom: 1.4375rem
}
.program__list {
  display: grid;
  gap: .625rem;
  counter-reset: myCounter;
  list-style: none
}
.program__list:not(:last-child) {
  margin-bottom: 1.25rem
}
.program__item {
  background: linear-gradient(260deg,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
  border-radius: 1.875rem;
  padding: .0625rem
}
.program__box {
  border-radius: 1.875rem;
  padding: .9375rem 1.25rem;
  background: linear-gradient(270deg,#11080a 0,#481e31 100%);
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: .9375rem;
  font-weight: 300;
  line-height: 1.5
}
.program__box strong {
  font-weight: 600
}
.program__box::after {
  content: counter(myCounter);
  counter-increment: myCounter;
  z-index: 1;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  flex: 0 0 1.75rem;
  display: grid;
  place-items: center;
  font-weight: 600;
  line-height: 1;
  background: linear-gradient(180deg,#ff7ebd 0,#e02f85 100%);
  box-shadow: 0 0 0 .5rem rgba(255,255,255,.05)
}
.program__text {
  flex: 1 1 auto
}
.prices {
  position: relative;
  z-index: 2;
  padding-top: 1.375rem
}
.prices__list {
  display: grid;
  gap: 1.25rem
}
.item-prices {
  padding: 1.5rem .9375rem .9375rem;
  text-align: center;
  border-radius: 1.875rem;
  overflow: hidden;
  background-color: #ffecf5;
  box-shadow: 0 .875rem 3.375rem 0 rgba(0,0,0,.25);
  margin: 0 -.9375rem;
  color: #080707;
  position: relative;
  z-index: 1
}
.item-prices:nth-child(1) .item-prices__background {
  width: 55%;
  height: 80%;
  top: 0;
  left: 0;
  -o-object-position: top left;
  object-position: top left
}
.item-prices:nth-child(2) .item-prices__background {
  width: 30%;
  height: 30%;
  top: 0;
  right: 0;
  -o-object-position: top right;
  object-position: top right
}
.item-prices__background {
  position: absolute;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: -1
}
.item-prices__label {
  color: #080707;
  letter-spacing: .0875rem;
  text-transform: uppercase
}
.item-prices__label:not(:last-child) {
  margin-bottom: .25rem
}
.item-prices__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.item-prices__list {
  display: grid;
  gap: .5rem;
  padding-left: 2.1875rem;
  padding-right: 2.1875rem
}
.item-prices__list>:nth-child(1) {
  justify-self: start
}
.item-prices__list>:nth-child(1)._watcher-view {
  -webkit-transform: rotate(-2.845deg);
  transform: rotate(-2.845deg)
}
.item-prices__list>:nth-child(2) {
  justify-self: end
}
.item-prices__list:not(:last-child) {
  margin-bottom: 1rem
}
.item-prices__bonus:not(:last-child) {
  margin-bottom: 1.125rem
}
.item-prices__old-price {
  text-decoration-line: line-through
}
.item-prices__old-price:not(:last-child) {
  margin-bottom: .3125rem
}
.item-prices__new-price {
  font-family: Oswald;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase
}
.item-prices__new-price:not(:last-child) {
  margin-bottom: 1.0625rem
}
.item-prices__action.show-bottom {
  -webkit-transform: translateY(.625rem);
  transform: translateY(.625rem)
}
.bonus-prices {
  border-radius: 1.25rem;
  border: .0625rem solid #e23589;
  background: rgba(255,126,189,.1);
  padding: .9375rem 1.25rem;
  align-items: flex-start;
  display: flex;
  gap: .9375rem
}
.bonus-prices__title {
  flex: 0 0 auto;
  color: #080707;
  font-family: Oswald;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase
}
.bonus-prices__list {
  display: grid;
  gap: .625rem
}
.bonus-prices__item {
  position: relative;
  padding-left: .625rem;
  text-align: left;
  font-size: .75rem;
  font-weight: 300
}
.bonus-prices__item strong {
  font-weight: 600
}
.bonus-prices__item::before {
  content: "";
  position: absolute;
  width: .25rem;
  height: .25rem;
  top: .3125rem;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(180deg,#ff7ebd 0,#e02f85 100%)
}
.advantages-item {
  padding: .625rem 1.25rem;
  border-radius: 20px;
  background-color: #fff;
  color: #080707
}
.advantages-item strong {
  font-weight: 600
}
.advantages-item--rotate {
  -webkit-transform: rotate(-2.845deg);
  transform: rotate(-2.845deg)
}
.faq {
  padding-top: 1.75rem;
  padding-bottom: 1.375rem
}
.faq__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.faq__item,
.faq__list {
  display: grid;
  gap: .625rem
}
.faq__list:not(:last-child) {
  margin-bottom: 1.25rem
}
.faq__item {
  background: linear-gradient(260deg,rgba(255,255,255,.4) 0,rgba(255,255,255,0) 100%);
  border-radius: 1.875rem;
  padding: .0625rem
}
.faq__box {
  border-radius: 1.875rem;
  padding: .9375rem 1.25rem;
  background: linear-gradient(270deg,#11080a 0,#481e31 100%)
}
.faq__question {
  font-weight: 600
}
.faq__answer {
  font-style: italic;
  font-weight: 300
}
.faq__answer strong {
  font-weight: 600
}
.faq__answer a {
  font-style: italic;
  text-decoration: underline
}
@media (any-hover:hover) {
  .button:hover {
    box-shadow: 0 0 0 .4375rem rgba(255,255,255,.05),inset 0 0 2.5rem .0625rem #ff0059
  }
}