@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1f2937;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  color: #3730a3;
  background-color: #fff;
  line-height: 1.5555555556;
  padding: 0.6875rem 2rem;
  display: inline-block;
  font-weight: 500;
  border-radius: 0.375rem;
  text-align: center;
  border: 0.0625rem solid #3730a3;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button_blue {
  color: #fff;
  background-color: #3730a3;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.button._fw {
  width: 100%;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close:not(:last-child) {
  display: block;
  margin: 0 auto 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.title {
  font-weight: 600;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 65rem;
}

.title span {
  color: #3730a3;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: background-color 600ms ease;
  -o-transition: background-color 600ms ease;
  transition: background-color 600ms ease;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.9);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: min-height 600ms ease;
  -o-transition: min-height 600ms ease;
  transition: min-height 600ms ease;
}

._header-scroll .header__container {
  min-height: 6.25rem;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 3.875rem;
  flex: 0 0 3.875rem;
  background-color: #eeebff;
  border-radius: 50%;
  width: 3.875rem;
  height: 3.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 5;
  color: #7b61ff;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3333333333;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  z-index: 3;
}

.menu__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.875rem;
  flex: 0 0 1.875rem;
  position: relative;
  z-index: 3;
}

.menu__body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  justify-self: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  color: #6b7280;
  line-height: 1.5555555556;
  font-weight: 500;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #fef2f2;
}

.footer__container {
  text-align: center;
}

.footer__title {
  font-weight: 500;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__text {
  color: #9ca3af;
  line-height: 1.5555555556;
  max-width: 41.875rem;
  margin: 0 auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social__item img {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  max-width: 100%;
}

.main__image {
  text-align: center;
}

.main__image img {
  max-width: 100%;
}

.main-content__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  gap: 0.625rem;
  color: #3730a3;
}

.main-content__author::before {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 6.375rem;
  flex: 0 0 6.375rem;
  width: 6.375rem;
  height: 0.0625rem;
  background-color: #3730a3;
}

.main-content__title {
  font-weight: 700;
}

.main-content__text {
  color: #6b7280;
  line-height: 1.5555555556;
}

.main-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.main-content__box:not(:last-child) {
  margin-bottom: 1.25rem;
}

.main-content__about {
  padding-top: 1.25rem;
  border-top: 0.0625rem solid #6b7280;
  color: #6b7280;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-body__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 37.288136%;
  flex: 0 0 37.288136%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.services-body__image img {
  max-width: 100%;
}

.services-content__column {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.services-content__title {
  font-weight: 600;
  line-height: 1.5555555556;
}

.services-content__text {
  color: #6b7280;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.services-content__link {
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
  color: #3730a3;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.3333333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-content__link::after {
  content: "";
  -webkit-box-flex: 0;
  -ms-flex: 0 0 0.625rem;
  flex: 0 0 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  background: url("../img/services/arrow.svg") center no-repeat;
}

.partners {
  background-color: #fef2f2;
}

.partners__title {
  color: #9ca3af;
  font-size: 1.25rem;
  line-height: 1.4;
  margin-bottom: 1.25rem;
}

.partners__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
}

.partners__image {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
}

.partners__image img {
  max-width: 100%;
}

.gallery__body {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.gallery-body__item-ibg {
  padding-bottom: 69.548%;
  min-height: 100%;
}

.gallery-body__content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 200ms ease, opacity 600ms ease;
  -o-transition: visibility 200ms ease, opacity 600ms ease;
  transition: visibility 200ms ease, opacity 600ms ease;
}

.touch .gallery-body__content {
  visibility: visible;
  opacity: 1;
}

.gallery-body__content .gallery-content__body {
  background-color: #fff;
  padding: 1.4375rem 3.75rem 1.4375rem 1.6875rem;
  position: relative;
}

.gallery-body__content .gallery-content__body::after {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  right: 2.125rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../img/gallery/arrow.svg") 0 0/100% no-repeat;
}

.gallery-body__content .gallery-content__title {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  font-weight: 500;
}

.gallery-body__content .gallery-content__text {
  color: #9ca3af;
  font-size: 0.875rem;
  line-height: 1.4285714286;
}

.about__container {
  max-width: 80rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

.about-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.375rem;
  width: 8.75rem;
  height: 8.75rem;
  background-color: #eef2ff;
}

.about-item__content {
  text-align: center;
}

.about-item__title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 600;
}

.about-item__text {
  color: #9ca3af;
  line-height: 1.5555555556;
}

.careers__table {
  min-width: 37.5rem;
  width: 100%;
  border-collapse: collapse;
}

.careers-table__row {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
  color: #6b7280;
}

.careers-table__row:last-child .careers-table__title,
.careers-table__row:last-child .careers-table__column {
  padding-bottom: 1.25rem;
}

.careers-table__row> :not(:last-child) {
  padding-right: 0.9375rem;
}

.careers-table__row :last-child {
  text-align: right;
}

.careers-table__title {
  font-weight: 500;
  text-transform: uppercase;
}

.careers-table__column span {
  color: #1f2937;
  font-weight: 600;
}

@media (min-width: 29.99875em) {
  .services-body__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 29.99875em) and (min-width: 75.625em) {
  .services-body__content {
    gap: 3.9375rem;
  }
}

@media (min-width: 47.99875em) {
  .menu__list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .main__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .services-body__content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 62.711864%;
    flex: 0 0 62.711864%;
    padding: 4.237288% 0 4.237288% 4.237288%;
  }

  .gallery__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }

  .gallery-body__item-ibg_height {
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .gallery-body__item-ibg_width {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    padding-bottom: 33.898305%;
    /* 400/1180 */
  }
}

@media (min-width: 47.99875em) and (min-width: 75.625em) {
  .menu__list> :not(:last-child) {
    margin-right: 5rem;
  }

  .main__content {
    padding-right: 4.6875rem;
  }
}

@media (min-width: 75.625em) {
  .title {
    font-size: 3rem;
  }

  .header__container {
    min-height: 14.75rem;
  }

  .header__container> :not(:last-child) {
    margin-right: 5rem;
  }

  .footer {
    padding-top: 6.875rem;
  }

  .footer {
    padding-bottom: 6.875rem;
  }

  .footer__text:not(:last-child) {
    margin-bottom: 6.25rem;
  }

  .footer__social {
    gap: 3.125rem;
  }

  .main {
    padding-top: 21rem;
  }

  .main {
    padding-bottom: 6.25rem;
  }

  .main-content__author:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main-content__title {
    font-size: 4.5rem;
  }

  .main-content__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .main-content__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .services {
    padding-top: 6.25rem;
  }

  .services {
    padding-bottom: 10.1875rem;
  }

  .services__title {
    margin-bottom: 9.375rem;
  }

  .partners {
    padding-top: 6.25rem;
  }

  .partners {
    padding-bottom: 6.25rem;
  }

  .partners__body {
    gap: 6.0625rem;
  }

  .gallery {
    padding-top: 9.375rem;
  }

  .gallery {
    padding-bottom: 4.6875rem;
  }

  .gallery__title {
    margin-bottom: 9.375rem;
  }

  .about {
    padding-top: 4.6875rem;
  }

  .about {
    padding-bottom: 4.6875rem;
  }

  .about__container {
    gap: 5.1875rem;
  }

  .about-item__image:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .about-item__content> :not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .about-item__title {
    font-size: 1.875rem;
  }

  .careers {
    padding-top: 4.6875rem;
  }

  .careers {
    padding-bottom: 9.375rem;
  }

  .careers__title {
    margin-bottom: 9.375rem;
  }

  .careers-table__row:not(:last-child) .careers-table__title,
  .careers-table__row:not(:last-child) .careers-table__column {
    padding-bottom: 5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .header__container {
    min-height: 6.25rem;
  }

  .header__container> :not(:last-child) {
    margin-right: 1.25rem;
  }

  .footer {
    padding-top: 1.875rem;
  }

  .footer {
    padding-bottom: 1.875rem;
  }

  .footer__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .footer__social {
    gap: 1.25rem;
  }

  .main {
    padding-top: 7.5rem;
  }

  .main {
    padding-bottom: 1.875rem;
  }

  .main-content__author:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .main-content__title {
    font-size: 2rem;
  }

  .main-content__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .main-content__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .services {
    padding-top: 1.875rem;
  }

  .services {
    padding-bottom: 1.875rem;
  }

  .services__title {
    margin-bottom: 1.875rem;
  }

  .partners {
    padding-top: 1.25rem;
  }

  .partners {
    padding-bottom: 1.25rem;
  }

  .partners__body {
    gap: 1.5625rem;
  }

  .gallery {
    padding-top: 3.125rem;
  }

  .gallery {
    padding-bottom: 1.5625rem;
  }

  .gallery__title {
    margin-bottom: 1.875rem;
  }

  .about {
    padding-top: 1.5625rem;
  }

  .about {
    padding-bottom: 1.5625rem;
  }

  .about__container {
    gap: 1.25rem;
  }

  .about-item__image:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .about-item__content> :not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .about-item__title {
    font-size: 1.375rem;
  }

  .careers {
    padding-top: 1.5625rem;
  }

  .careers {
    padding-bottom: 3.125rem;
  }

  .careers__title {
    margin-bottom: 1.875rem;
  }

  .careers-table__row:not(:last-child) .careers-table__title,
  .careers-table__row:not(:last-child) .careers-table__column {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    overflow: auto;
    -webkit-transition: left 400ms ease;
    -o-transition: left 400ms ease;
    transition: left 400ms ease;
  }

  ._header-scroll .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
  }

  ._header-scroll .menu__body::after {
    min-height: 6.25rem;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    font-size: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 1.25rem;
  }

  .careers__body {
    overflow: auto;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::after {
    min-height: 6.25rem;
  }

  .main__content:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .main-content__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.625rem;
  }

  .services-body__content> :not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .services-content__column {
    gap: 0.625rem;
  }

  .partners__body :last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .gallery-body__item-ibg {
    padding-bottom: 90%;
  }

  .gallery-body__content {
    padding: 0.625rem;
  }

  .gallery-body__content .gallery-content__body {
    padding: 0.625rem 3.75rem 0.625rem 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
  @supports (font-size: clamp(1.5rem, 0.9606741573rem + 2.6966292135vw, 3rem)) {
    .title {
      font-size: clamp(1.5rem, 0.9606741573rem + 2.6966292135vw, 3rem);
    }
  }

  @supports not (font-size: clamp(1.5rem, 0.9606741573rem + 2.6966292135vw, 3rem)) {
    .title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (min-height: clamp(6.25rem, 3.1938202247rem + 15.2808988764vw, 14.75rem)) {
    .header__container {
      min-height: clamp(6.25rem, 3.1938202247rem + 15.2808988764vw, 14.75rem);
    }
  }

  @supports not (min-height: clamp(6.25rem, 3.1938202247rem + 15.2808988764vw, 14.75rem)) {
    .header__container {
      min-height: calc(6.25rem + 8.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-right: clamp(1.25rem, -0.0983146067rem + 6.7415730337vw, 5rem)) {
    .header__container> :not(:last-child) {
      margin-right: clamp(1.25rem, -0.0983146067rem + 6.7415730337vw, 5rem);
    }
  }

  @supports not (margin-right: clamp(1.25rem, -0.0983146067rem + 6.7415730337vw, 5rem)) {
    .header__container> :not(:last-child) {
      margin-right: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(1.875rem, 0.077247191rem + 8.9887640449vw, 6.875rem)) {
    .footer {
      padding-top: clamp(1.875rem, 0.077247191rem + 8.9887640449vw, 6.875rem);
    }
  }

  @supports not (padding-top: clamp(1.875rem, 0.077247191rem + 8.9887640449vw, 6.875rem)) {
    .footer {
      padding-top: calc(1.875rem + 5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.875rem, 0.077247191rem + 8.9887640449vw, 6.875rem)) {
    .footer {
      padding-bottom: clamp(1.875rem, 0.077247191rem + 8.9887640449vw, 6.875rem);
    }
  }

  @supports not (padding-bottom: clamp(1.875rem, 0.077247191rem + 8.9887640449vw, 6.875rem)) {
    .footer {
      padding-bottom: calc(1.875rem + 5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem)) {
    .footer__text:not(:last-child) {
      margin-bottom: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem);
    }
  }

  @supports not (margin-bottom: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem)) {
    .footer__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (gap: clamp(1.25rem, 0.5758426966rem + 3.3707865169vw, 3.125rem)) {
    .footer__social {
      gap: clamp(1.25rem, 0.5758426966rem + 3.3707865169vw, 3.125rem);
    }
  }

  @supports not (gap: clamp(1.25rem, 0.5758426966rem + 3.3707865169vw, 3.125rem)) {
    .footer__social {
      gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(7.5rem, 2.6460674157rem + 24.2696629213vw, 21rem)) {
    .main {
      padding-top: clamp(7.5rem, 2.6460674157rem + 24.2696629213vw, 21rem);
    }
  }

  @supports not (padding-top: clamp(7.5rem, 2.6460674157rem + 24.2696629213vw, 21rem)) {
    .main {
      padding-top: calc(7.5rem + 13.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.875rem, 0.3019662921rem + 7.8651685393vw, 6.25rem)) {
    .main {
      padding-bottom: clamp(1.875rem, 0.3019662921rem + 7.8651685393vw, 6.25rem);
    }
  }

  @supports not (padding-bottom: clamp(1.875rem, 0.3019662921rem + 7.8651685393vw, 6.25rem)) {
    .main {
      padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(1.25rem, 0.8005617978rem + 2.2471910112vw, 2.5rem)) {
    .main-content__author:not(:last-child) {
      margin-bottom: clamp(1.25rem, 0.8005617978rem + 2.2471910112vw, 2.5rem);
    }
  }

  @supports not (margin-bottom: clamp(1.25rem, 0.8005617978rem + 2.2471910112vw, 2.5rem)) {
    .main-content__author:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (font-size: clamp(2rem, 1.1011235955rem + 4.4943820225vw, 4.5rem)) {
    .main-content__title {
      font-size: clamp(2rem, 1.1011235955rem + 4.4943820225vw, 4.5rem);
    }
  }

  @supports not (font-size: clamp(2rem, 1.1011235955rem + 4.4943820225vw, 4.5rem)) {
    .main-content__title {
      font-size: calc(2rem + 2.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem)) {
    .main-content__title:not(:last-child) {
      margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem);
    }
  }

  @supports not (margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem)) {
    .main-content__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem)) {
    .main-content__text:not(:last-child) {
      margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem);
    }
  }

  @supports not (margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem)) {
    .main-content__text:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(1.875rem, 0.3019662921rem + 7.8651685393vw, 6.25rem)) {
    .services {
      padding-top: clamp(1.875rem, 0.3019662921rem + 7.8651685393vw, 6.25rem);
    }
  }

  @supports not (padding-top: clamp(1.875rem, 0.3019662921rem + 7.8651685393vw, 6.25rem)) {
    .services {
      padding-top: calc(1.875rem + 4.375 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.875rem, -1.1137640449rem + 14.9438202247vw, 10.1875rem)) {
    .services {
      padding-bottom: clamp(1.875rem, -1.1137640449rem + 14.9438202247vw, 10.1875rem);
    }
  }

  @supports not (padding-bottom: clamp(1.875rem, -1.1137640449rem + 14.9438202247vw, 10.1875rem)) {
    .services {
      padding-bottom: calc(1.875rem + 8.3125 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem)) {
    .services__title {
      margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem);
    }
  }

  @supports not (margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem)) {
    .services__title {
      margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem)) {
    .partners {
      padding-top: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem);
    }
  }

  @supports not (padding-top: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem)) {
    .partners {
      padding-top: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem)) {
    .partners {
      padding-bottom: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem);
    }
  }

  @supports not (padding-bottom: clamp(1.25rem, -0.547752809rem + 8.9887640449vw, 6.25rem)) {
    .partners {
      padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (gap: clamp(1.5625rem, -0.0554775281rem + 8.0898876404vw, 6.0625rem)) {
    .partners__body {
      gap: clamp(1.5625rem, -0.0554775281rem + 8.0898876404vw, 6.0625rem);
    }
  }

  @supports not (gap: clamp(1.5625rem, -0.0554775281rem + 8.0898876404vw, 6.0625rem)) {
    .partners__body {
      gap: calc(1.5625rem + 4.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(3.125rem, 0.8778089888rem + 11.2359550562vw, 9.375rem)) {
    .gallery {
      padding-top: clamp(3.125rem, 0.8778089888rem + 11.2359550562vw, 9.375rem);
    }
  }

  @supports not (padding-top: clamp(3.125rem, 0.8778089888rem + 11.2359550562vw, 9.375rem)) {
    .gallery {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .gallery {
      padding-bottom: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem);
    }
  }

  @supports not (padding-bottom: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .gallery {
      padding-bottom: calc(1.5625rem + 3.125 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem)) {
    .gallery__title {
      margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem);
    }
  }

  @supports not (margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem)) {
    .gallery__title {
      margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .about {
      padding-top: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem);
    }
  }

  @supports not (padding-top: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .about {
      padding-top: calc(1.5625rem + 3.125 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .about {
      padding-bottom: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem);
    }
  }

  @supports not (padding-bottom: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .about {
      padding-bottom: calc(1.5625rem + 3.125 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (gap: clamp(1.25rem, -0.1657303371rem + 7.0786516854vw, 5.1875rem)) {
    .about__container {
      gap: clamp(1.25rem, -0.1657303371rem + 7.0786516854vw, 5.1875rem);
    }
  }

  @supports not (gap: clamp(1.25rem, -0.1657303371rem + 7.0786516854vw, 5.1875rem)) {
    .about__container {
      gap: calc(1.25rem + 3.9375 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem)) {
    .about-item__image:not(:last-child) {
      margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem);
    }
  }

  @supports not (margin-bottom: clamp(0.9375rem, 0.3757022472rem + 2.808988764vw, 2.5rem)) {
    .about-item__image:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(0.625rem, 0.4002808989rem + 1.1235955056vw, 1.25rem)) {
    .about-item__content> :not(:last-child) {
      margin-bottom: clamp(0.625rem, 0.4002808989rem + 1.1235955056vw, 1.25rem);
    }
  }

  @supports not (margin-bottom: clamp(0.625rem, 0.4002808989rem + 1.1235955056vw, 1.25rem)) {
    .about-item__content> :not(:last-child) {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (font-size: clamp(1.375rem, 1.1952247191rem + 0.8988764045vw, 1.875rem)) {
    .about-item__title {
      font-size: clamp(1.375rem, 1.1952247191rem + 0.8988764045vw, 1.875rem);
    }
  }

  @supports not (font-size: clamp(1.375rem, 1.1952247191rem + 0.8988764045vw, 1.875rem)) {
    .about-item__title {
      font-size: calc(1.375rem + 0.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-top: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .careers {
      padding-top: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem);
    }
  }

  @supports not (padding-top: clamp(1.5625rem, 0.4389044944rem + 5.6179775281vw, 4.6875rem)) {
    .careers {
      padding-top: calc(1.5625rem + 3.125 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(3.125rem, 0.8778089888rem + 11.2359550562vw, 9.375rem)) {
    .careers {
      padding-bottom: clamp(3.125rem, 0.8778089888rem + 11.2359550562vw, 9.375rem);
    }
  }

  @supports not (padding-bottom: clamp(3.125rem, 0.8778089888rem + 11.2359550562vw, 9.375rem)) {
    .careers {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem)) {
    .careers__title {
      margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem);
    }
  }

  @supports not (margin-bottom: clamp(1.875rem, -0.8216292135rem + 13.4831460674vw, 9.375rem)) {
    .careers__title {
      margin-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-bottom: clamp(1.25rem, -0.0983146067rem + 6.7415730337vw, 5rem)) {

    .careers-table__row:not(:last-child) .careers-table__title,
    .careers-table__row:not(:last-child) .careers-table__column {
      padding-bottom: clamp(1.25rem, -0.0983146067rem + 6.7415730337vw, 5rem);
    }
  }

  @supports not (padding-bottom: clamp(1.25rem, -0.0983146067rem + 6.7415730337vw, 5rem)) {

    .careers-table__row:not(:last-child) .careers-table__title,
    .careers-table__row:not(:last-child) .careers-table__column {
      padding-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 55.625);
    }
  }
}

@media (max-width: 47.99875em) and (min-width: 75.625em) {
  .menu__body {
    padding-top: 15.625rem;
  }

  .menu__body::after {
    min-height: 14.75rem;
  }

  .main__content:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
  @supports (padding-top: clamp(7.5rem, 4.5786516854rem + 14.606741573vw, 15.625rem)) {
    .menu__body {
      padding-top: clamp(7.5rem, 4.5786516854rem + 14.606741573vw, 15.625rem);
    }
  }

  @supports not (padding-top: clamp(7.5rem, 4.5786516854rem + 14.606741573vw, 15.625rem)) {
    .menu__body {
      padding-top: calc(7.5rem + 8.125 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (min-height: clamp(6.25rem, 3.1938202247rem + 15.2808988764vw, 14.75rem)) {
    .menu__body::after {
      min-height: clamp(6.25rem, 3.1938202247rem + 15.2808988764vw, 14.75rem);
    }
  }

  @supports not (min-height: clamp(6.25rem, 3.1938202247rem + 15.2808988764vw, 14.75rem)) {
    .menu__body::after {
      min-height: calc(6.25rem + 8.5 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (margin-bottom: clamp(1.25rem, 0.5758426966rem + 3.3707865169vw, 3.125rem)) {
    .main__content:not(:last-child) {
      margin-bottom: clamp(1.25rem, 0.5758426966rem + 3.3707865169vw, 3.125rem);
    }
  }

  @supports not (margin-bottom: clamp(1.25rem, 0.5758426966rem + 3.3707865169vw, 3.125rem)) {
    .main__content:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
    }
  }
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 75.625em) {
  @supports (margin-right: clamp(0.625rem, -0.9480337079rem + 7.8651685393vw, 5rem)) {
    .menu__list> :not(:last-child) {
      margin-right: clamp(0.625rem, -0.9480337079rem + 7.8651685393vw, 5rem);
    }
  }

  @supports not (margin-right: clamp(0.625rem, -0.9480337079rem + 7.8651685393vw, 5rem)) {
    .menu__list> :not(:last-child) {
      margin-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 55.625);
    }
  }

  @supports (padding-right: clamp(1.25rem, 0.0140449438rem + 6.1797752809vw, 4.6875rem)) {
    .main__content {
      padding-right: clamp(1.25rem, 0.0140449438rem + 6.1797752809vw, 4.6875rem);
    }
  }

  @supports not (padding-right: clamp(1.25rem, 0.0140449438rem + 6.1797752809vw, 4.6875rem)) {
    .main__content {
      padding-right: calc(1.25rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
  }
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .menu__list> :not(:last-child) {
    margin-right: 0.625rem;
  }

  .main__content {
    padding-right: 1.25rem;
  }
}

@media (min-width: 29.99875em) and (min-width: 20em) and (max-width: 75.625em) {
  @supports (gap: clamp(1.25rem, 0.2837078652rem + 4.8314606742vw, 3.9375rem)) {
    .services-body__content {
      gap: clamp(1.25rem, 0.2837078652rem + 4.8314606742vw, 3.9375rem);
    }
  }

  @supports not (gap: clamp(1.25rem, 0.2837078652rem + 4.8314606742vw, 3.9375rem)) {
    .services-body__content {
      gap: calc(1.25rem + 2.6875 * (100vw - 20rem) / 55.625);
    }
  }
}

@media (min-width: 29.99875em) and (max-width: 20em) {
  .services-body__content {
    gap: 1.25rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: #fff;
    background-color: #3730a3;
  }

  .button_blue:hover {
    color: #3730a3;
    background-color: #fff;
  }

  .menu__link:hover {
    color: #3730a3;
  }

  .social__item:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  .services-content__link:hover::after {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .gallery-body__item-ibg:hover .gallery-body__content {
    visibility: visible;
    opacity: 1;
  }
}