.team {
  padding: rem(145) 0;
  @media (max-width: em(991.98)) {
    padding: rem(80) 0;
  }
  @media (max-width: em(767.98)) {
    padding: rem(50) 0;
  }
  // &__container {}

  &__content {
    text-align: center;
  }

  &__sub-title {
    &:not(:last-child) {
      margin-bottom: rem(12);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(62);
    }
    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(10) rem(23);
    @media (max-width: em(1200)) {
      grid-template-columns: repeat(3, 1fr);
      gap: rem(10);
    }
    @media (max-width: em(800)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(600)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    position: relative;
    padding-bottom: 135%;
    display: flex;
    flex-direction: column-reverse;
    & > img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.team-contact {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: rem(10) rem(23);
  padding: rem(15);
  background-color: rgba(98, 87, 254, 0.8);
  @media (max-width: em(991.98)) {
    padding: rem(8);
    gap: rem(10);
  }

  &__about {
    flex: 1 1 auto;
    color: $cWhite;
    text-align: left;
    line-height: 1.5;
  }

  &__name {
    font-size: rem(16);
    font-weight: 600;
  }

  &__position {
    font-size: rem(14);
  }

  &__social {
    display: flex;
    align-items: center;
    gap: rem(13);
    @media (max-width: em(991.98)) {
      gap: rem(8);
    }
    & a {
      flex: 0 0 rem(20);
      height: rem(22);
      @media (any-hover: hover) {
        &:hover img {
          transform: scale(1.2);
        }
      }
      & img {
        max-width: 100%;
        transition: transform 400ms ease;
      }
    }
  }
}
