@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #1f2327;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  background-color: #e11b19;
  border-radius: 2.5rem;
  padding: 1.25rem;
  gap: 0.9375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 18.125rem;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}

.btn::after {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  content: "";
  text-align: center;
  width: 1.25rem;
  height: 0.75rem;
  background: url(../img/icons/arrow.svg) center/contain no-repeat;
}

.title {
  line-height: 1.1111111111;
  text-transform: uppercase;
  font-weight: 700;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #14171a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  padding: 0.9375rem;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.footer__social a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
}

.footer__social a img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main {
  background-color: #101214;
  position: relative;
  min-height: 100vh;
}

.main__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.25rem;
  min-height: 100vh;
  padding: 1.875rem 0.9375rem;
}

.main__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__bg-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__bg-ibg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-radial-gradient(69.44% -79.86%, 837.78% 378.29%, rgba(31, 35, 39, 0) 0%, #191c1f 47.89%, rgba(31, 35, 39, 0) 100%);
  background: radial-gradient(837.78% 378.29% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191c1f 47.89%, rgba(31, 35, 39, 0) 100%);
}

.content-main_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-main__label {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  text-transform: uppercase;
}

.content-main__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.content-main__title {
  font-weight: 700;
  line-height: 1.171875;
  text-transform: uppercase;
}

.content-main__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.content-main__text {
  line-height: 1.25;
}

.content-main__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.members {
  background-color: #191c1f;
}

.members__container {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
}

.members__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.members-column__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.members-column__icon img {
  max-width: 100%;
}

.members-column__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.members-column__sub-title {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.leader {
  background-color: #191c1f;
}

.body-training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 1.875rem;
}

.leader .body-training {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-training__image {
  text-align: center;
}

.body-training__image img {
  max-width: 100%;
}

.content-training__label {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.content-training__label:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.content-training__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.leader .content-training__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.content-training__list {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.content-training__list > :not(:last-child) {
  margin-bottom: 0.75rem;
}

.content-training__list-item {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.content-training__list-item::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 0.875rem;
  content: "";
  background: url("../img/icons/check.svg") center/contain no-repeat;
}

.content-training__text {
  font-size: 1.125rem;
  line-height: 1.3888888889;
}

.academy {
  position: relative;
  min-height: 31.25rem;
}

.academy__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 31.25rem;
  width: 100%;
  padding: 1.875rem 0.9375rem;
}

.academy .content-main {
  text-align: center;
}

.academy__bg-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.academy__bg-ibg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-radial-gradient(47.92% 0%, 570.42% 265.28%, #191c1f 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%);
  background: radial-gradient(570.42% 265.28% at 47.92% 0%, #191c1f 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%);
}

@media (min-width: 37.5em) {
  .body-training {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .body-training__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.648649%;
            flex: 0 1 48.648649%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .body-training__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 39.90991%;
            flex: 0 1 39.90991%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 71.25em) {
  .title {
    font-size: 2.25rem;
  }

  .footer__container {
    min-height: 6.875rem;
  }

  .main__container {
    padding-bottom: 5rem;
  }

  .main__content {
    max-width: 46.625rem;
  }

  .content-main__title {
    font-size: 4rem;
  }

  .content-main__text {
    font-size: 1.5rem;
  }

  .members__container {
    padding-top: 3.75rem;
  }

  .members__container {
    padding-bottom: 3.75rem;
  }

  .members-column__sub-title {
    font-size: 1.5rem;
  }

  .body-training {
    padding-top: 7.5rem;
  }

  .body-training {
    padding-bottom: 7.5rem;
  }

  .academy .content-main {
    max-width: 46.625rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.375rem;
  }

  .footer__container {
    min-height: 4.375rem;
  }

  .main__container {
    padding-bottom: 1.875rem;
  }

  .main__content {
    max-width: 21.875rem;
  }

  .content-main__title {
    font-size: 1.875rem;
  }

  .content-main__text {
    font-size: 1rem;
  }

  .members__container {
    padding-top: 1.875rem;
  }

  .members__container {
    padding-bottom: 1.875rem;
  }

  .members-column__sub-title {
    font-size: 1rem;
  }

  .body-training {
    padding-top: 1.875rem;
  }

  .body-training {
    padding-bottom: 1.875rem;
  }

  .academy .content-main {
    max-width: 21.875rem;
  }
}

@media (max-width: 47.99875em) {
  .main__content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .members__container {
    grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  }

  .content-training__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-main__label {
    font-size: 1rem;
  }

  .content-main__button {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 20em) and (max-width: 71.25em) {
@supports (font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem )) {
    .title {
      font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0335365854rem  +  1.7073170732vw , 2.25rem )) {
    .title {
      font-size: calc(1.375rem + 0.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (min-height: clamp( 4.375rem , 3.3993902439rem  +  4.8780487805vw , 6.875rem )) {
    .footer__container {
      min-height: clamp( 4.375rem , 3.3993902439rem  +  4.8780487805vw , 6.875rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.3993902439rem  +  4.8780487805vw , 6.875rem )) {
    .footer__container {
      min-height: calc(4.375rem + 2.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
    .main__container {
      padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6554878049rem  +  6.0975609756vw , 5rem )) {
    .main__container {
      padding-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (max-width: clamp( 21.875rem , 12.2164634146rem  +  48.2926829268vw , 46.625rem )) {
    .main__content {
      max-width: clamp( 21.875rem , 12.2164634146rem  +  48.2926829268vw , 46.625rem );
    }
}

@supports not (max-width: clamp( 21.875rem , 12.2164634146rem  +  48.2926829268vw , 46.625rem )) {
    .main__content {
      max-width: calc(21.875rem + 24.75 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem )) {
    .content-main__title {
      font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.0457317073rem  +  4.1463414634vw , 4rem )) {
    .content-main__title {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .content-main__text {
      font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .content-main__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1432926829rem  +  3.6585365854vw , 3.75rem )) {
    .members__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .members-column__sub-title {
      font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8048780488rem  +  0.9756097561vw , 1.5rem )) {
    .members-column__sub-title {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-top: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
    .body-training {
      padding-top: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
    .body-training {
      padding-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
    .body-training {
      padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.3201219512rem  +  10.9756097561vw , 7.5rem )) {
    .body-training {
      padding-bottom: calc(1.875rem + 5.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (max-width: clamp( 21.875rem , 12.2164634146rem  +  48.2926829268vw , 46.625rem )) {
    .academy .content-main {
      max-width: clamp( 21.875rem , 12.2164634146rem  +  48.2926829268vw , 46.625rem );
    }
}

@supports not (max-width: clamp( 21.875rem , 12.2164634146rem  +  48.2926829268vw , 46.625rem )) {
    .academy .content-main {
      max-width: calc(21.875rem + 24.75 * (100vw - 20rem) / 51.25);
    }
}
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #831816;
  }

  .footer__social a:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}